<div class="mt-4">
  <h3>My Courses</h3>
  <a href="/me/stored/courses">List Courses</a>
  <table class="table mt-4">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Name</th>
        <th scope="col">Description</th>
        <th scope="col">Timestamp</th>
        <th scope="col">Action</th>
      </tr>
    </thead>
    <tbody>
      {{#each courses}}
      <tr>
        {{!-- call helper function sum --}}
        <th scope="row">{{sum @index 1}}</th>
        <td>{{this.name}}</td>
        <td>{{this.description}}</td>
        <td>{{this.createdAt}}</td>
        <td>
          <a href="" class="btn btn-primary btn-restore" data-id="{{this._id}}">Restore</a>
          <a href="/courses/{{this._id}}/delete" class="btn btn-danger" data-toggle="modal" data-id="{{this._id}}"
            data-target="#exampleModal">Delete Forever</a>
        </td>
      </tr>
      {{else}}
      <tr>
        <td colspan="5" class="text-center">
          No data
        </td>
      </tr>
      {{/each}}
    </tbody>
  </table>
</div>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="#deleteModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="#deleteModalLabel">Delete Course</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Are you sure you want to delete forever this course?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button id="deleteModalButton" type="button" class="btn btn-primary">Delete</button>
      </div>
    </div>
  </div>
</div>

<form name="deleteCourseForm" method="post"></form>
<form name="restoreCourseForm" method="post"></form>

<script>
  // Delete course on modal click
  document.addEventListener("DOMContentLoaded", function () {
    var courseId;
    var deleteForm = document.forms["deleteCourseForm"]
    var restoreForm = document.forms["restoreCourseForm"]
    var btnDelete = document.getElementById("deleteModalButton")
    var restoreBtn = $('.btn-restore')

    $('#exampleModal').on('show.bs.modal', function (event) {
      var button = $(event.relatedTarget) // Button that triggered the modal
      courseId = button.data('id') // Extract info from data-* attributes

    })

    btnDelete.onclick = function () {
      deleteForm.action = "/courses/" + courseId + "/force?_method=DELETE";
      deleteForm.submit();
    }


      restoreBtn.click(function (e) {
        e.preventDefault();
        var courseId = $(this).data('id');
        restoreForm.action = "/courses/" + courseId + "/restore?_method=PATCH";
        restoreForm.submit();
      })
  })

</script>